<div *ngIf="item" class="row g-0 my-3 border-bottom pb-2">
    <div class="col-md-4">
        <img [src]="item.immagine" class="img-fluid rounded-start ms-1" [alt]="item.nome">
      </div>
      <div class="col-md-8">
    <div class="card-body p-0 ms-2">
        <h5 class="card-title">{{item.nome}}</h5>
      <h5 class="card-text text-body-secondary">{{ item.prezzo | currency: 'EUR'}}</h5>
      <p class="card-text" *ngIf="item.taglia"><span class="text-muted">Taglia:</span>{{item.taglia}}</p>
      <p class="card-text" *ngIf="item.colore"><span class="text-muted">Colore:</span>{{item.colore}}</p>
      <p class="card-text" *ngIf="item.quantita"><span class="text-muted">quantita:</span>{{item.quantita}}</p>
    </div>
    </div>
</div>
