<div class="bg-body-tertiary px-5 py-4">
    <!--Menu-->
  <div class="row row-cols-2 justify-content-center">
    <div class="col-10 row row-cols-sm-1 row-cols-md-3 order-1">
      <div class="col-sm-12 col-md-4 distanza">
        <h6 class="text-dark ps-4 d-lg-none" data-bs-toggle="collapse" data-bs-target="#risorse" style="cursor: pointer;">Risorse</h6>
        <h5 class="d-none d-lg-block text-dark ps-4">
          Risorse
        </h5>
        <ul class="collapse d-lg-block" id="risorse">
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Gift card</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Trova un negozio</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Nike Journal</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Diventa member</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Sconto studenti</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Codici promozionali</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Feedback</a
            >
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 distanza">
        <h6 class="text-dark ps-4 d-lg-none" data-bs-toggle="collapse" data-bs-target="#assistenza" style="cursor: pointer;">Assistenza</h6>
        <h5 class="d-none d-lg-block text-dark ps-4">
          Assistenza
        </h5>
        <ul class="collapse d-lg-block" id="assistenza">
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Hai bisogno di aiuto?</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Stato ordine</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Spedizione e consegna</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Resi</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Opzioni di pagamento</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Contattaci</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Recensioni</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Assistenza Codici promozionali Nike</a
            >
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4">
        <h6 class="text-dark ps-4 d-lg-none" data-bs-toggle="collapse" data-bs-target="#azienda" style="cursor: pointer;">Azienda</h6>
        <h5 class="d-none d-lg-block text-dark ps-4">
          Azienda
        </h5>
        <ul class="collapse d-lg-block" id="azienda">
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Informazioni su Nike</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >News</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Lavora con noi</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Investitori</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Sostenibilità</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
              >Obiettivo</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!--##-->
    <!--Localizzazione-->
    <div class="col-2 row-cols-sm-1 order-2">
      <h6 class="text-end">
        <span><i class="bi bi-globe-europe-africa me-2"></i></span> Italia
      </h6>
    </div>
    <!--##-->
  </div>
  <div class="text-center margineDisclaimer">
    <p>Progetto realizzato da Federica Chiantini &copy; 2024</p>
  </div>
</div>
