<!--Hero banner-->
<div class="position-relative">  
  <img src="../assets/images/hero-banner.jpg" class="img-fluid my-3 position-relative" alt="logo">
  <!--testo e bottone-->
  <div class="posizione"> <!--position-absolute bottom-0 start-0 mb-5 ms-4-->
<div>
      <p class="text-light grandezzaTesto">Indossa lo stile Nike</p>
      <p-button label="Acquista" [raised]="true" [rounded]="true" severity="secondary" routerLink="scarpe" size="small" class="d-lg-none d-block"/>
      <p-button label="Acquista" [raised]="true" [rounded]="true" severity="secondary" routerLink="scarpe" size="large" class="d-lg-block d-none"/>
</div>
  </div>
  <!--##-->
</div>
<!--##-->

<!--Slider sport-->
  <h2 class="text-muted grandezzaTesto">Acquista per sport</h2>
  <div id="carouselSport" class="carousel slide mb-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex row">
          <img src="../../../assets/images/sport_1.jpg" class="d-block col-4" alt="calcio" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/sport_2.jpg" class="d-block col-4" alt="danza" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/sport_3.jpg" class="d-block col-4" alt="basket" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex row">
          <img src="../../../assets/images/sport_4.jpg" class="d-block col-4" alt="tennis" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/sport_5.jpg" class="d-block col-4" alt="ginnastica" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/sport_6.jpg" class="d-block col-4" alt="atletica" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSport" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSport" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--##-->

  <!--Slider scarpe-->
  <h2 class="text-muted grandezzaTesto ">Alcuni prodotti selezionati per te</h2>
  <div id="carouselScarpe" class="carousel slide mb-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex row">
          <img src="../../../assets/images/scarpa_1.jpg" class="d-block col-4" alt="calcio" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_2.jpg" class="d-block col-4" alt="danza" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_3.jpg" class="d-block col-4" alt="basket" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex row">
          <img src="../../../assets/images/scarpa_4.jpg" class="d-block col-4" alt="tennis" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_5.jpg" class="d-block col-4" alt="ginnastica" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_6.jpg" class="d-block col-4" alt="atletica" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex row">
          <img src="../../../assets/images/scarpa_2.jpg" class="d-block col-4" alt="tennis" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_7.jpg" class="d-block col-4" alt="ginnastica" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/scarpa_8.jpg" class="d-block col-4" alt="atletica" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselScarpe" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselScarpe" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--##-->

  <!--Slider membership-->
  <h2 class="text-muted grandezzaTesto ">Membership Nike</h2>
  <div id="carouselMembership" class="carousel slide mb-5">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex row">
          <img src="../../../assets/images/banner_1.jpg" class="d-block col-4" alt="m1" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/banner_2.jpg" class="d-block col-4" alt="m2" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/banner_3.jpg" class="d-block col-4" alt="m3" routerLink="scarpe" style="cursor: pointer;">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex row">
          <img src="../../../assets/images/banner_4.jpg" class="d-block col-4" alt="m4" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/banner_5.jpg" class="d-block col-4" alt="m5" routerLink="scarpe" style="cursor: pointer;">
          <img src="../../../assets/images/banner_6.jpg" class="d-block col-4" alt="m6" routerLink="scarpe" style="cursor: pointer;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMembership" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMembership" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--##-->


